* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
} /*"border-box" means that the width and height properties (and min/max properties) include content, padding and border*/

h1 {
  color: white;
  font-style: italic;
  text-align: right;
  margin: 0px;
  padding: 0px;
}

tr:nth-child(even) {
  background-color: #f1b59a;
}

tr:nth-child(even):hover {
  background-color: #ee824d;
}

tr:nth-child(odd) {
  background-color: #ed9a72;
}

tr:nth-child(odd):hover {
  background-color: #f27f47;
}

tr:nth-child(1) {
  background-color: transparent;
}

tr:nth-child(1):hover {
  background-color: transparent;
}

td {
  width: 20%;
  color: white;
  font-style: italic;
  font-size: 1.3em;
}

th {
  font-size: 1.2em;
}

td,
th {
  border: 0px solid #dddddd;
  text-align: center;
  padding: 8px;
  color: white;
}

/*td {
  width: 13vw;
}*/

td:nth-child(1) {
  padding: 8px;
  text-align: right;
  width: 40px;
}

td:nth-child(2) {
  width: 10%;
  text-align: left;
}

td:nth-child(5),
th:nth-child(5) {
  padding-right: 0px;
}

main {
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5vh;
  min-height: 100vh;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 65vw;
}

.innerContainer {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
  grid-template-areas: "area1 area2";
}

#tableWrapper {
  width: 65vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3vh;
}

#h2Wrapper {
  width: 20vw;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  padding: 8px 1vw;
  float: right;
  margin-bottom: 15px;
}

#logo {
  width: 16vw;
  margin-left: 1.3vw;
  margin-top: 1.3vw;
}

#logoText {
  color: white;
  margin-top: 0px;
  font-weight: bold;
  margin-left: 1.3vw;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  border-radius: 20px;
}

/* Modal Content/Box */
.modalContent {
  margin: 12% auto; /* 15% from the top and centered */
  width: 43vw; /* Could be more or less, depending on screen size */
  height: 50vh;
  padding: 0 1vw 3vw 0vw;
  background-color: #b0a39e;
  color: white;
  display: grid;
  grid-template-columns: 1.5fr 2fr 0.5fr;
  grid-template-rows: auto auto auto;
  border-radius: 5px;
  grid-template-areas:
    "area0 area0 area0"
    "area1 area2 area3"
    "area4 area5 area6";
}

.photoTable {
  width: 60px;
  height: auto;
  clip-path: circle(30px);
}

.photoModal {
  width: 130px;
  height: auto;
  clip-path: circle(64px);
}

#userPhotoDiv {
  height: auto;
  grid-area: area1;
  text-align: center;
}

#detailedInfo {
  grid-area: area2;
}

#closeDiv {
  grid-area: area0;
}

#deactivate {
  grid-area: area6;
  float: right;
  background-color: #dd642b;
  color: white;
  border-style: none;
  border-radius: 5px;
  height: 40px;
  width: 170px;
  font-size: 1em;
  line-height: 1em;
  margin-right: 4vw;
  cursor: pointer;
}

/* The Close Button */
.modalClose {
  color: #dd642b;
  float: right;
  font-size: 78px;
  font-weight: lighter;
  line-height: 78px;
}

.modalClose:hover {
  color: gainsboro;
  text-decoration: none;
  cursor: pointer;
}

#modalWrapper {
  border-radius: 20px;
}

.modalText1 {
  font-style: italic;
  font-weight: lighter;
  font-size: 1em;
  line-height: 1em;
  color: #e4dada;
}

.modalText2 {
  font-weight: normal;
  font-size: 1em;
  line-height: 1em;
}

.modalText {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 1.5em;
}

.removeButton {
  height: 30px;
  width: 30px;
  cursor: url(images/cursor.png), auto;
}

.removeButton:hover {
  height: 50px;
  width: auto;
}

.row {
  cursor: pointer;
}

.deleteOption {
  cursor: auto;
}
