* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
} /*"border-box" means that the width and height properties (and min/max properties) include content, padding and border*/

h1 {
  color: white;
  font-style: italic;
  text-align: right;
  margin: 0px;
  padding: 0px;
}

tr:nth-child(even) {
  background-color: #f1b59a;
}

tr:nth-child(odd) {
  background-color: #ed9a72;
}

tr:nth-child(1) {
  background-color: transparent;
}

td {
  width: 20%;
  color: white;
  font-style: italic;
  font-size: 1.3em;
}

th {
  font-size: 1.2em;
}

td,
th {
  border: 0px solid #dddddd;
  text-align: center;
  padding: 8px;
  color: white;
}

/*td {
  width: 13vw;
}*/

td:nth-child(1) {
  padding: 8px;
  text-align: right;
  width: 40px;
}

td:nth-child(2) {
  width: 10%;
  text-align: left;
}

td:nth-child(5),
th:nth-child(5) {
  padding-right: 0px;
}

main {
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5vh;
  min-height: 100vh;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 65vw;
}

.innerContainer {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
  grid-template-areas: "area1 area2";
}

#tableWrapper {
  width: 65vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3vh;
}

#h2Wrapper {
  width: 20vw;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  padding: 8px 1vw;
  float: right;
  margin-bottom: 15px;
}

#logo {
  width: 16vw;
  margin-left: 1.3vw;
  margin-top: 1.3vw;
}

#logoText {
  color: white;
  margin-top: 0px;
  font-weight: bold;
  margin-left: 1.3vw;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  border-radius: 20px;
}

/* Modal Content/Box */
.modalContent {
  margin: 12% auto; /* 15% from the top and centered */
  width: 40vw; /* Could be more or less, depending on screen size */
  height: 30vh;
  padding: 1vw;
  background-color: #b0a39e;
  color: white;
}

/* The Close Button */
.modalClose {
  color: #dd642b;
  float: right;
  font-size: 58px;
  font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
  color: gainsboro;
  text-decoration: none;
  cursor: pointer;
}

#modalWrapper {
  border-radius: 20px;
}
